In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

hoursPlusUTC = 3; # по москве живем

In [20]:
stat = pd.read_csv('keyboard.csv') # data to read

In [33]:
goodTime = (pd.to_datetime(stat.iloc[:,0], unit = 's') + pd.DateOffset(hours = hoursPlusUTC))
goodKey = stat.iloc[:,1].str.replace('KEY_', '')
stat.iloc[:,0] = goodTime
stat.iloc[:,1] = goodKey

In [34]:
stat.describe()

                       time  key
count                   155  155
unique                   10   30
top     2020-08-11 17:25:09    J
freq                     19   19
first   2020-08-11 17:25:06  NaN
last    2020-08-11 17:25:15  NaN

In [ ]:
#some frequency counting goes here...